In [100]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [101]:
df = pd.read_csv('dataset/05-insurance_charges.csv')

In [102]:
df.shape

(1338, 7)

In [103]:
df.head

<bound method NDFrame.head of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [104]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [105]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [115]:
df = df.drop('sex', axis = 1)
df = df.drop('smoker', axis =1)
df =df.drop('region', axis = 1)
df.head()

KeyError: "['smoker'] not found in axis"

In [107]:
x = df.iloc[:, :-1]
y = df.iloc[:, df.shape[1]-1]

In [116]:
x.head()

   age     sex     bmi  children     region
0   19  female  27.900         0  southwest
1   18    male  33.770         1  southeast
2   28    male  33.000         3  southeast
3   33    male  22.705         0  northwest
4   32    male  28.880         0  northwest

In [117]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size =0.25, random_state= 42 )

In [118]:
model = LinearRegression()
model.fit(x_train, y_train)

ValueError: could not convert string to float: 'male'